name: Integration Tests

on:
  push:
    branches: [fips]
  pull_request:
    branches: [fips]

jobs:
  test:
    runs-on: ubuntu-latest
    name: tests

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Run tests
      run: go test -count=1 -tags=integration ./tests/
