name: Lint
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v6
        with:
          go-mod-file: 'go.mod'
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # v8
        id: lint
        with:
          version: latest
          args: '-c .github/.golangci.yml --output.text.print-linter-name --output.text.print-issued-lines --output.text.colors'
          skip-cache: true

      - name: Print error message
        if: always() && steps.lint.outcome == 'failure'
        run: |
          echo '
          Linting failed. On your local machine, please run
              golangci-lint run -c .github/.golangci.yml --fix
          and check in the changes.'
          exit 1

  staticcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v6
        with:
          go-mod-file: 'go.mod'

      - name: Install staticcheck
        # Use @master because of staticcheck tool versioning issues, for example:
        # "module requires at least go1.24.6, but Staticcheck was built with go1.24.5 (compile)"
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@master

      - name: Run checks
        run: |
          staticcheck ./...
