name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    name: Unit tests
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'

    - name: Test and build
      run: |
        go test -race ./... -check.vv
        go test -tags fips -race ./... -check.vv
        go build ./cmd/pebble
        go build -tags fips ./cmd/pebble

  root-tests:
    runs-on: ubuntu-latest

    name: Root Tests
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: |
        PEBBLE_TEST_USER=runner PEBBLE_TEST_GROUP=runner sudo -E -H go test ./...
        PEBBLE_TEST_USER=runner PEBBLE_TEST_GROUP=runner sudo -E -H go test -tags fips ./...

  format:
    runs-on: ubuntu-latest

    name: Format check
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'

    - name: Ensure no formatting changes
      run: |
        go fmt ./...
        git diff --exit-code

    - name: Ensure no use of empty interface (should be any)
      run: |
        ! egrep -R --exclude-dir .git 'interface\{\}'

  docs:
    runs-on: ubuntu-latest

    name: Automated docs check
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12' 

    - name: Ensure no CLI reference doc changes
      run: |
        make cli-help
        git diff --exit-code
      working-directory: ./docs
